body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: seagreen;
  margin: 0;
}
style{
  background-repeat: no-repeat;
}
.container {
  background-color: rgb(32, 168, 178);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
 
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  
}

button {
  width: 100%;
  padding: 10px;
  background-color:rgb(9, 10, 11);
  border: none;
  color: rgb(102, 89, 183);
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4c6f94;
}
a{
  color:white;
  text-decoration: none;
}

